.form-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 10px;
  }
  
  .form-container .form-floating {
    grid-column: span 1;
  }