/* style.css */

.logo-header {
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.logo-system {
  border-radius: 30%;
  height: auto;
  width: 50px;
}

.logo-header img {
  border-radius: 50%;
  height: auto;
  width: 50px;
}

.navbar-collapse {
  width: auto;
  margin-left: 65%;
}

#navbar {
  background-color: #bc3e5ce8;
  width: 100%;
  font-family: cursive;
  font-size: 20px;
  text-shadow: black;
}

.dropdown-menu.show {
  background-color: #bf205d;
}


#dropdown-option {
  background-color: #ee659a;
}

#dropdown-option:hover {
  background-color: #c0004a;
}

#button-navbar {
  background-color: #bc3e5ce8;
}

#button-navbar:hover {
  background-color: #a5004a;
}

#footer-2 {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
  border-top: 1px solid #ccc;
  overflow-y: auto;
}
.content {
  margin-bottom: 100px; /* Ajusta el valor según sea necesario */
}
