.risk-matrix {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;

  }
  
  .risk-matrix th,
  .risk-matrix td {
    padding: 8px;
    border: 1.5px solid black;
  }
  
  .risk-matrix th:first-child,
  .risk-matrix td:first-child {
    background-color: #f2f2f2dd;
  }

  .risk-1-1, .risk-1-2, .risk-2-1{
    background-color: rgb(75, 164, 75);
  }
  
  .risk-1-3,  .risk-2-2, .risk-3-1{
    background-color: rgb(12, 122, 69);
  }
  
  .risk-1-4, .risk-1-5, .risk-2-3, .risk-2-4, .risk-3-2, .risk-3-3, .risk-4-1, .risk-4-2, .risk-5-1{
    background-color: rgba(226, 223, 50, 0.981);
  }

  .risk-2-5, .risk-3-4, .risk-4-3, .risk-5-2{
    background-color: rgb(249, 168, 38);
  }

  .risk-3-5, .risk-4-4,  .risk-5-3{
    background-color: rgb(254, 18, 18);
  }
  
  .risk-4-5, .risk-5-4, .risk-5-4, .risk-5-5{
    background-color: rgb(170, 7, 7);
  }

  .vertical-text {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    position: fixed;
    font-style: normal;
    color: rgb(50, 60, 249);
    font-size: 25px;
    left: 0;
    top: 50%;
    transform: translate(300%, -200%) rotate(180deg);
    width: 100px; /* Ajusta el ancho según sea necesario */
    white-space: nowrap;
  }
  
  .vertical-text-TWO {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    position: fixed;
    font-style: normal;
    color: rgb(163, 35, 114);
    font-size: 15px;
    left: 0;
    top: 50%;
    transform: translate(350%, -90%) rotate(180deg);
    width: 100px; /* Ajusta el ancho según sea necesario */
    white-space: nowrap;
  }
  .matrix-container {
    display: flex;
  }

  .text {
    font-style: normal;
    color: rgb(50, 60, 249);
    font-size: 25px;
    width: 200px; /* Ajusta el ancho según sea necesario */
    margin-left: 610px; /* Ajusta el margen izquierdo según tus necesidades */
  }

  .subtext {
    font-style: normal;
    color: rgb(163, 35, 114);
    font-size: 15px;
    width: 500px; /* Ajusta el ancho según sea necesario */
    margin-left: 525px; /* Ajusta el margen izquierdo según tus necesidades */
  }